<dialog id="inscricao-modalDialog">
    <div class="inscricao-modal">
        <header class="inscricao-modal-header">
            <h2>Definições Gerais</h2>
            <button class="inscricao-close-btn" id="inscricao-closeModal" aria-label="Fechar">&times;</button>
        </header>

        <form id="inscricao-form">
            <div class="inscricao-form-group">
                <label for="inscricao-nome">Novo nome</label>
                <input type="text" id="inscricao-nome" name="nome" placeholder="Digite o seu nome" autocomplete="name" required>
            </div>

       

            <div class="inscricao-form-group">
                <label for="inscricao-certificado">Foto de perfil</label>
                <input type="file" id="inscricao-certificado" name="certificado" accept=".pdf,.jpg,.png" required>
            </div>

    

            <button id="inscricao-enviar" class="inscricao-btn" type="submit" disabled>Salvar</button>
        </form>
    </div>
</dialog>
