<dialog id="detalhes-modal">
    <div class="detalhes-modal-header">
        <div>
            <h3><i class="fa-solid fa-calendar-check"></i> Visualizar Agendamento</h3>
     
        </div>
        <span class="detalhes-close-btn" onclick="closeModal()">&times;</span>
    </div>

    <div class="detalhes-modal-content">
        <label><i class="fa-solid fa-user"></i> Nome do Aluno</label>
        <input type="text" value="Asidainy Pinto" disabled>

        <label><i class="fa-solid fa-book"></i> Curso</label>
        <input type="text" value="Informática" disabled>

        <label><i class="fa-solid fa-file"></i> Certificado</label>
        <a href="#"><i class="fa-solid fa-download"></i> Baixar</a>

        <label><i class="fa-solid fa-id-card"></i> BI</label>
        <a href="#"><i class="fa-solid fa-download"></i> Baixar</a>
        <label><i class="fa-solid fa-id-card"></i> Foto 1</label>
        <a href="#"><i class="fa-solid fa-download"></i> Baixar</a>
        <label><i class="fa-solid fa-id-card"></i> Foto 2</label>
        <a href="#"><i class="fa-solid fa-download"></i> Baixar</a>

        <label><i class="fa-solid fa-flag"></i> Estado</label>
        <input type="text" value="Confirmado" disabled>
    </div>

    <div class="detalhes-modal-footer">
        <button onclick="closeModal()">Fechar</button>
    </div>
</dialog>