table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 14px;
}

/* Fundo azul para os títulos da tabela */
thead {
  background-color: #dbdbdb;
}

th {
  color: black; /* Deixa o texto branco */
  padding: 12px;
}

/* Fundo cinza claro apenas para as linhas do corpo da tabela */
tbody tr {
  background-color: #f9f9f9;
}

/* Bordas da tabela */
table, th, td {
  border: 1px solid #ddd;
}

/* Espaçamento e alinhamento */
th, td {
  padding: 10px;
  text-align: center;
}

/* Aplicando sombra suave nas células da tabela */
td {
  background: white; /* Mantém o fundo branco para destaque */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 5px; /* Borda arredondada para suavizar */
}

/* Ajustando espaçamento entre linhas */
tbody tr {
  height: 50px;
}
