@import url('../global.css');
/* ===== SEÇÃO DE AGENDAMENTOS ===== */
.section-agendaments {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 5vh;
    justify-content: center;
}



/* Responsividade */
@media (max-width: 768px) {
    .notifications-dropdown, .cart-dropdown {
        width: 95%;
        right: 10px;
    }
}